/* Bloc principal : not-found */
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 20px;

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 10rem;
        color: #FF6060; /* Couleur rouge */
        margin: 0;
    }

    &__text {
        font-size: 1.5rem;
        color: #FF6060;
        margin-bottom: 30px;
    }

    &__link {
        font-size: 1rem;
        color: #000;
        text-decoration: underline;
        margin-top: 20px;
        transition: color 0.3s ease;

        &:hover {
            color: #FF6060; /* Changer de couleur au survol */
        }
    }
}