.opener__container {
    background-color: #FF6060;
    color: white;
    display: flex;
    justify-content: space-between; /* Sépare le texte et l'icône */
    align-items: center; /* Centre verticalement */
    max-width: 1000px;
    height: 54px;
    padding: 0 20px; /* Padding autour du texte */
    border-radius: 5px;
    cursor: pointer; /* Indique que c'est cliquable */
    flex-wrap: nowrap; /* Empêche le contenu de se casser sur plusieurs lignes */

    .opener__title {
        font-size: 24px;
        font-weight: 700;
        color: #f1f1f1;
        line-height: 34px;
        flex-grow: 1; /* Permet au texte de prendre l'espace restant */
        white-space: nowrap; /* Empêche le texte de passer à la ligne */
        overflow: hidden; /* Cache le débordement du texte */
        text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
    }

    .opener__icon {
        height: 32px;
        width: 32px;
        transition: transform 0.3s ease; /* Transition pour l'icône */

        /* Rotation de l'icône lorsque la section est ouverte */
        &--open {
            transform: rotate(180deg);
        }
    }

    @media (max-width: 758px) {
        height: 34px;

        .opener__title {
            font-size: 13px;
            line-height: 16px; /* Ajuste la hauteur de ligne pour petits écrans */
        }

        .opener__icon {
            width: 16px;
            height: 16px; /* Ajuste la taille de l'icône pour les petits écrans */
        }
    }
}

.opener__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Animation pour l'ouverture/fermeture */
    background-color: #f6f6f6;
    padding: 0 20px;
    border-radius: 0 0 5px 5px;
    font-size: 18px;
    line-height: 26px;
    color: black;
    max-width: 1000px;

    &--open {
        max-height: 200px; /* Ajuste la hauteur selon le contenu */
        padding: 20px; /* Ajoute du padding lorsque le contenu est visible */
    }

    @media (max-width: 758px) {
        font-size: 12px;
    }
}