.rating {
    display: flex;
    justify-content: flex-end; /* Aligne les étoiles à droite */
    gap: 5px;
    margin-top: 5px; /* Espace entre le host et le rating */

    .star {
        width: 24px; /* Taille des étoiles */
        height: 24px; /* Taille des étoiles */

        /* Optionnel : ajoute une couleur de fond ou un style si nécessaire */
        background-color: transparent; /* S'il y a des bordures ou autres effets */
    }

    @media (max-width: 758px) {
        position: relative;
        justify-content: flex-start; /* Aligne les étoiles à gauche */
        width: 100%; /* Prend toute la largeur disponible */
        margin-left: 0;

        .star {
            width: 18px; /* Taille des étoiles réduite pour les petits écrans */
            height: 18px;
            margin-right: -5px;
        }
    }
}